body {
  font-family: "Open Sans";
  background-color: #7fd1c3;
  font-size: 1.3rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.navconfig {
  margin-left: 10%;
}

.backgroundimg {
  background-image: url("https://res.cloudinary.com/drv6bjnwl/image/upload/v1608147607/EnR0ZuZXMAE1uQ6_nc0x8q.jpg");
  background-repeat: no-repeat;
  background-position: center 25vh;
}

.bghistory2 {
  background-color: #ececec !important;
}

.bghistory3 {
  border: 1px solid #c6ddd9;
  border-radius: 25px;
  box-shadow: 0 0 0 0.2rem rgba(92, 206, 200, 0.5);
}

.containersize {
  height: 100vh;
  width: 500vw;
}
.signupheight {
  height: 80%;
}

.midpage {
  height: 87%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.searchBar {
  width: 50%;
  border-radius: 25px;

  border: 1px solid rgb(163, 161, 161);
}
.inputbar {
  border-radius: 25px;
  border: 1px solid black;
  text-align: center;
}

.btn-dark {
  color: #fff;
  background-color: #393b39;
  border-color: #343a40;
}

.login {
  border-radius: 25px;
  height: 10%;
}

.removedot {
  list-style-type: none;
}

.linkcolor {
  color: #0f2b26;
}

.inputcolor:focus {
  border: 1px solid #56a094;
  box-shadow: 0 0 10px #3d756c;
}

.linkcolor:hover {
  color: #56a094;
}

.nav:hover {
  color: #56a094;
}

.bg-dark {
  background-color: #393b39 !important;
}

.text-white:hover {
  color: #56a094 !important;
  transition: color 0.15s ease-in-out;
}

.text-primary {
  color: #56a094 !important;
}

.bg-danger {
  background-color: #caebca !important;
}

.text-danger {
  color: #393b39 !important;
}

/* CSS DA TABELA =======================================================================*/

ul.options {
  list-style: none;
  transition: width 0.3s;
}
ul.options li {
  border: 1px solid black;
  background: white;
  margin: 3% auto;
  padding: 1%;
  border-radius: 25px;
  width: 200px;
}
ul.options li:hover {
  font-weight: bold;
  color: #49867c;
  cursor: pointer;
  transition: 0.2s all;
}
ul.options li.option-active {
  background: whitesmoke;
  font-size: 1.2rem;
  color: #49867c;
}

.no-options button {
  background: whitesmoke;
  font-size: 1.2rem;
  color: #49867c;
  border-radius: 25px;
  border: none;
}
.no-options select {
  background: whitesmoke;
  font-size: 1.2rem;
  color: #49867c;
  border-radius: 25px;
  border: none;
}

/* BTN SUCCESS =======================================================================*/

.btn-success {
  color: #7fd1c3;
  border-color: #56a094;
}

.btn-success:hover {
  color: #fff;
  background-color: #56a094;
  border-color: #56a094;
}

.btn-success:focus,
.btn-success.focus {
  box-shadow: 0 0 0 0.2rem #56a094;
}

.btn-success.disabled,
.btn-success:disabled {
  color: #56a094;
  background-color: transparent;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #56a094;
  border-color: #56a094;
}

.creators {
  display: flex;
  flex-wrap: wrap;
  width: 200%;
  font-size: 1rem;
  list-style: none;
}
.grafic h3 {
  text-align: center;
}
.grafic p {
  text-align: center;
}
.categoriesCustom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #393b39;
  color: white;
  padding: 2rem 0;
  margin: 3%;
  border-radius: 25px;
  width: 30rem;
}
.categoriesCustom input {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}
.productCustom {
  display: flex;
  flex-direction: column;
}

.productCustom2 {
  display: flex;
  flex-direction: row;
}

/* BTN WARNING =======================================================================*/

.btn-warning {
  color: rgb(255, 255, 255);
  background-color: #29a83a;
  border-color: #317a1f;
}

.btn-warning:hover {
  color: #ffffff;
  background-color: #317a1f;
  border-color: #317a1f;
}

.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #317a1f;
  border-color: #317a1f;
  box-shadow: 0 0 0 0.2rem rgba(187, 12, 222, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff;
  background-color: #317a1f;
  border-color: #317a1f;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #ffffff;
  background-color: #317a1f;
  border-color: #317a1f;
}

/* BTN PRIMARY =======================================================================*/

.btn-primary {
  color: #fff;
  background-color: #469b59;
  border-color: #286836;

  width: 200px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #286836;
  border-color: #286836;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286836;
  border-color: #286836;
  box-shadow: 0 0 0 0.2rem rgba(25, 88, 12, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #286836;
  border-color: #286836;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #286836;
  border-color: #286836;
}

/* BTN DANGER =======================================================================*/

.btn-danger {
  color: #fff;
  background-color: #7fd1c3;
  border-color: #56a094;
}

.btn-danger:hover {
  color: #fff;
  background-color: #56a094;
  border-color: #56a094;
}

.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #56a094;
  border-color: #56a094;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #56a094;
  border-color: #56a094;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #56a094;
  border-color: #56a094;
}

/* CUSTOM BTN =======================================================================*/

.custom-btn {
  color: #fff;
  background-color: #ee5a2d;
  border-color: #e75e4c;
  border-radius: 25px;
  transition: background-color 0.15s ease-in-out;
}

.custom-btn:hover {
  color: #fff;
  background-color: #d3301b;
  border-color: #d3301b;
}

.custom-btn:focus,
.custom-btn.focus {
  color: #fff;
  background-color: #56a094;
  border-color: #56a094;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.custom-btn.disabled,
.custom-btn:disabled {
  color: #fff;
  background-color: #56a094;
  border-color: #56a094;
}

.custom-btn:not(:disabled):not(.disabled):active,
.custom-btn:not(:disabled):not(.disabled).active,
.show > .custom-btn.dropdown-toggle {
  color: #fff;
  background-color: #56a094;
  border-color: #56a094;
}

.svg-css {
  height: 40px;
  width: 40px;
  color: #c2fff5;
  fill: #c2fff5;
}

.ulCustom {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.ListaDeProdutosPorCategoriaNasSalvas {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.produtoNaListaSalva {
  display: flex;
  justify-content: center;
}
.nomeDetalheListaSalva {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
}
