.searchBar {
  width: 700px;
  border-radius: 25px;

  border: 1px solid black;
}

.login {
  border-radius: 25px;
}

ul.options {
  list-style: none;
  transition: width 0.3s;
}
ul.options li {
  border: 1px solid black;
  background: white;
  margin: 0.7% auto;
  padding: 1%;
  border-radius: 25px;
}
ul.options li:hover {
  font-weight: bold;
  color: #32b62d;
  cursor: pointer;
  transition: 0.2s all;
}
ul.options li.option-active {
  background: whitesmoke;
  font-size: 1.2rem;
  color: #32b62d
}

.no-options {
  
}
.no-options button {
  background: whitesmoke;
  font-size: 1.2rem;
  color: #00b4cc;
  border-radius: 25px;
  border: none;
}
.no-options select {
  background: whitesmoke;
  font-size: 1.2rem;
  color: #00b4cc;
  border-radius: 25px;
  border: none;
}

.tableSelected {
  border: yellowgreen solid 1px;
  width: 80%;
  margin-top: 2%;
  align-content: center;
  text-align: center;
}
